*{
    color: #9A9C9F;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: darksalmon;
    background-image: url(ladrillo.jpg);
    
}
li{
    list-style: none;
    display: inline;
    padding: 10px;
  
}
h1{
    color: white;
    text-align: center;
}
a{
    text-decoration: none;
    font-weight: 900;
}
h2{
    margin-top: 0;
}
#descripcion,
#usuario form{
    border: #9A9C9F dashed 2px;
    padding: 15px;
    border-radius: 15px;
}
#usuario form{
    margin-top: 5px;
}
#usuario form *{
    display: block;
    padding: 10px;
}
#usuario form button{
    margin-top: 25px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
}
